{% extends "layout.html"%}
{% block title %} Home {% endblock %}
{% block main %} 
{% load static %}
<div>
<div class="glass-card mb-4 mt-5" style="margin-left:auto; width: 30%;">
    
    <h2 class="text-white">  я ьиктор </h2>
    
    <hr class="glass-hr">

    <p class="" style="white-space: pre-line;" title="Everything reminds me of you
And you're nowhere
There's a world remaining that saw us two together
For the last time
A room with a balcony and a window
It's bright right now
Clear as the day that saw us two together
For the last time">Всё напоминает о тебе 
        А ты нигде
        Остался мир, который вместе видел нас
        В последний раз
        Комната с балконом и окном
        Светла сейчас
        Чиста как день, который вместе видел нас
        В последний раз
    </p>

</div>
<div class="glass-card mb-4 mt-5 glass-effect" style="margin-right:auto; width: 30%;">
    
    <h2 class="text-white">  я ьиктор </h2>
    
    <hr class="glass-hr">

    <p class="" style="white-space: pre-line;" title="Everything reminds me of you
And you're nowhere
There's a world remaining that saw us two together
For the last time
A room with a balcony and a window
It's bright right now
Clear as the day that saw us two together
For the last time">Всё напоминает о тебе 
        А ты нигде
        Остался мир, который вместе видел нас
        В последний раз
        Комната с балконом и окном
        Светла сейчас
        Чиста как день, который вместе видел нас
        В последний раз
    </p>

</div>

<div class="glass-card mb-4 mt-4 glass-effect mx-auto" style="width: fit-content;">
    <h1 class="text-white justify-content-center"> N U L L </h1>
</div>

<div class="card glass-card mx-auto" style="display:flex; width:80%;">
    <img src="{% static 'images/cat.jpg' %}"> 
    <img src="{% static 'images/bong.jpg' %}" class="mt-5"> 
</div>
</div>
</div>

{% endblock %}