{% extends "layout.html" %}
{% block main %}
<div class="container-fluid">
    <div class="row hub-row g-3">
        

        <!-- ================= LEFT COLUMN: Sidebar ================= -->
        <div class="col-12 col-lg-3 d-flex flex-column gap-3" style="height:90vh;">

                                        <!-- Orders -->
            <div class="glass-card glass-effect d-flex flex-column" style="flex: 2; overflow: hidden; padding-bottom: 0rem;">
                <h6 class="text-white m-2"><i class="bi bi-bar-chart-steps"></i> Pedidos</h6>
                <hr class="glass-hr-2">
                <div id="order-list-content" class="flex-grow-1 overflow-auto p-2" hx-get="{% url 'cashier:order-list' %}" hx-trigger="load">
                </div>
            </div>

                                        <!-- Stock -->
            <div class="glass-card glass-effect d-flex flex-column" style="flex: 1; overflow: hidden; padding-bottom: 0rem;">
                <h6 class="text-white m-0 p-2"><i class="bi bi-box-seam"></i> Estoque</h6>
                <hr class="glass-hr-2">
                <div id="stock-list-content" class="flex-grow-1 overflow-auto p-2" hx-get="{% url 'cashier:stock-list' %}" hx-trigger="load">
                </div>
            </div>

        </div>

        <!-- ================= RIGHT COLUMN  ================= -->
        <div class="col-12 col-lg-9">
            <form id="order-form" 
                  hx-post="{% url 'cashier:process-order' %}" 
                  hx-target="#order-form-container"
                  class="glass-card glass-effect d-flex flex-column" 
                  style="height: 90vh;">
                {% csrf_token %}
                <!-- top -->
                <div class="pos-dashboard-grid">
                    <!-- left side -->
                    <div id="customer-input-container" class="h-auto glass-card area-customer overflow-auto" style="max-height: 300px;">
                        <div class="d-flex justify-content-center pb-3">
                        <label><i class="bi bi-person-vcard-fill"></i> Dados do Cliente</label>
                    </div>
                    <div class="d-flex flex-column">
                        {{ form.customer_name }}
                        <span class="m-2"></span>
                        {{ form.customer_name }}
                        <span class="m-2"></span>
                        {{ form.customer_name }}
                        <span class="m-2"></span>
                        {{ form.customer_name }}

                        <span class="m-2"></span>
                        {{ form.customer_name }}
                        <span class="m-2"></span>
                        {{ form.customer_name }}
                     </div>



                    </div>
                    <!-- end left -->
                    
                    <!-- right side -->
                    <div id="info-container" hx-swap-oob="true" 
                        class=" area-checkout d-flex flex-column justify-content-between p-2 "
                        style="height:100%;"
                        >
                        <div class="d-flex w-100 justify-content-between align-items-center gap-3">
                            
                            <div class="glass-card d-flex w-50" style="min-height:150px !important; max-width: 100%!important;">
                                <div>
                                    <i class="bi bi-info-circle ms-auto"></i> Status
                                </div>
                            </div>

                            <div id="order-total"class="h2 fw-bold m-0 display-4 ms-auto" style="color:#85bb65;">
                                <i class="bi bi-currency-dollar"></i><span id="order-value"></span>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center mt-2">
                            <div class="btn-container w-100">
                            <button type="submit" id='confirm' class="btn btn-primary fw-bold w-100 py-2">Confirmar</button>
                            </div>
                        </div>
                    </div>
                    <!-- end right -->
                </div>
                <!-- end top -->
                <!-- <hr class="glass-hr-2"> -->
                <!-- bottom -->
                <div class="flex-grow-1 area-products animate-new-item pb-4" x-data="{ search: '' }" style="max-height: 60vh;">
    
                    <div class="d-flex align-items-center w-100 mb-2 pe-3">
                        
                        
                        <div class="d-flex align-items-center gap-2">
                            <input type="text" 
                                x-model="search" 
                                @keydown.enter.prevent 
                                placeholder="Procurar..." 
                                class="form-control glass-input glass-effect" 
                                style="max-width: 300px;"
                                >
                            
                            <i class="bi bi-search" style="position:relative; right:35px; color:white;"></i>
                        </div>

                        <h6 class="text-white m-2" style="padding-left:190px;"><i class="bi bi-handbag"></i> Produtos</h6>

                    </div>

                    <div id="order-form-container">
                        {% include "partials/order_form.html" %}
                    </div>
                </div>
                <!-- end bottom -->
            </form>
        </div>
    </div>
</div>
{% endblock main %}