{% extends "layout.html"%}
{% block title %} Login {% endblock %}
{% block main %} 

<div class="d-flex justify-content-center align-items-center" style="min-height: 70vh;" >
        <div class="glass-card glass-effect" style="max-width: 350px;" > 
            <h2 class="text-center text-blue mb-4">Login</h2>

            <form method="POST" novalidate>
                {% csrf_token %}

                {% for field in form %}
                    <div class="mb-3">
                        <label class="form-label text-white">{{ field.label }}</label>

                        {{ field }}

                        {% if field.errors %}
                            {% for error in field.errors %}
                                <p class="text-danger small mt-1 mb-0"><strong>* {{ error }}</strong></p>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
                
                {% if form.non_field_errors %}
                    <div class="alert alert-danger bg-danger bg-opacity-25 border-danger text-white small" style="border-radius: 20px;">
                        <ul class="mb-0 ps-3 pl-2">
                           
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
            
                        </ul>
                    </div>
                {% endif %}

                <div class="d-flex justify-content-center mt-3">
                <button type="submit" class="btn btn-primary mt-3" style="border-radius: 15px;">
                    Confirmar
                </button>
                </div>

            </form>

        </div>
</div>
{% endblock %}

