<div class="list-group list-group-flush">
    {% for record in history %}
        <div class="list-group-item bg-transparent text-white border-secondary">
            <div class="d-flex w-100 justify-content-between">
                <small class="text-white-50">{{ record.history_date|date:"d/m H:i" }}</small>
                <span class="badge {% if record.history_type == '+' %}bg-success{% elif record.history_type == '~' %}bg-warning{% else %}bg-danger{% endif %}">
                    {{ record.get_history_type_display }}
                </span>
            </div>

            <p class="pb-1 small">

                <strong>{{ record.name }}</strong> 
                {% if record.history_type == '~' %}
                    editado por <span class="text-info">{{ record.history_user|default:"Sistema" }}</span>
                    <small> {{ record.changes }}</small>
                    </p>
                {% else %}
                    {{ record.get_history_type_display|lower }}
                    </p>
                    
                <hr class="glass-hr">
                <div class="d-flex justify-content-evenly">
                    <small class="text-white-50">Qtd: {{ record.quantity|floatformat:"-1" }}{{ record.unit }} </small>
                    <small class="text-white-50">Preço: {{ record.price }} </small>
                </div>
                {% endif %}

            </div>
    {% empty %}
        <p class="p-3 text-white-50">Nenhum registro recente.</p>
    {% endfor %}
</div>