

{% include "partials/order_form.html" %}

<div id="stock-list-content" hx-swap-oob="true" class="flex-grow-1 overflow-auto p-2">
    {% include "partials/stock_list.html" %}
</div>

<div id="customer-input-container" class="area-customer" hx-swap-oob="true">
    <label class="text-white-50 small"><i class="bi bi-person-vcard-fill"></i></label>
    {{ form.customer_name }}
</div>

<div id="order-total" class="h2 fw-bold mb-2 display-1 glass-card" style="color:#85bb65;" hx-swap-oob="true">
    <i class="bi bi-currency-dollar"></i>
</div>

<div id="messages" class="glass-card" hx-swap-oob="true">
    <div class="fade-out-message alert alert-success text-center mx-auto ms-auto glass-card glass-effect">
        {{ message }} <i class="bi bi-check"></i>
    </div>
</div>

{% if new_order %}
<div hx-swap-oob="afterbegin:#order-list-content">
    <div class="glass-card mb-2 p-2 animate-new-item">
        <details name="items">
            <summary class="d-flex justify-content-between" style="padding-inline:15px;">
                <span><i class="bi bi-card-text"></i> {{ new_order.id }}</span>  
                <span><i class="bi bi-person-fill"></i>{{ new_order.customer_name }}</span>
                <span>{{ new_order.total_price }}<i class="bi bi-currency-dollar" style="color:#85bb65;"></i></span>
            </summary>
            <hr class="glass-hr">
            {% for x in new_order.items.all %}
                <p class="content" style="padding-left:15px; margin-block: 2px; padding-bottom: 5px;">
                    <i class="bi bi-dot"></i> {{ x }}
                </p>
            {% endfor %}
        </details>
    </div>
</div>
{% endif %}