{% extends "layout_lista.html" %}

{% block title %} Inventario {% endblock %}
{% block sub_title %} Inventario {% endblock %}

{% block url_add_item %}{% url "stock:criar" %}{% endblock url_add_item %}
{% block url_item_query %}{% url "stock:inventario" %}{% endblock url_item_query %}

{% block content %} 

<div class="row g-4 justify-content-center" >
    {% for item in stock %}
        <div class="col-md-4 col-lg-3 mb-4"x-show="'{{ item.name|lower }}'.includes(search.toLowerCase())"
             x-transition> 
            <div class="glass-card glass-effect" style="width:300px;">
                <div class="row g-2" style="display: flex; justify-content: space-between; align-items: center;">
                    <div class="col d-flex flex-column">
                        <h4 class="text-capitalize">{{ item.name }}</h4>
                    </div>
                    <div class="col-5 d-flex" style="margin-top:1px;">
                        <span style="font-size: 1rem;" class="text-white-50 ms-1"><span><i class="bi bi-clock-history"></i> </span>{{ item.updated_at | date:"D H:i" }}</span>
                    </div>
                </div>
                
                <hr class="glass-hr mt-2">

                <div class="mb-4">
                    <small class="text-white-50 d-block">Quantidade:</small>
                    {% comment %} {% if item.quantity <= 10 %} {% endcomment %}
                    <span>{{ item.quantity_display |floatformat:"-1" }}<span style="font-size: 0.75rem;" class="text-white-50 ms-1">{{ item.unit_display }}</span></span>
                    {% comment %} {% endif %} {% endcomment %}
                </div>
                <div class="mb-4">
                    <small class="text-white-50 d-block">Valor:</small>
                    <span>${{ item.price|floatformat:"-1" }}/<span style="font-size: 0.75rem;" class="text-white-50 ms-1">{{ item.unit_display }}</span></span>
                </div>
                <div class="mb-1">
                    <small class="text-white-50 d-block">Usado em</small>
                    <span>{{ item.ingredient_items.all|length }} <span style="font-size: 0.75rem;" class="text-white-50 ms-1">Receita(s)</span></span>
                </div>
                

                <hr class="glass-hr">
                
                <div class="btn-container">
                    <a href="{% url 'stock:editar' item.pk %}" class="btn btn-outline-warning ">editar</a>
                    <a href="{% url 'stock:apagar' item.pk %}" class="btn btn-outline-danger ">remover</a>
                </div>
            </div>
        </div>
    {% empty %}
        <p class="text-white glass-effect glass-card">Nenhum item no estoque.</p>
    {% endfor %}
</div>


{% endblock  %}