{% extends "layout.html"%}
{% block title %} Apagar {% endblock %}
{% block content %} 

<div class="d-flex justify-content-center align-items-center" style="min-height: 40vh;">
<div class="col-7 col-md-9 col-lg-3"> 
    <div class="glass-card p-4 text-center">
        <h2 class="text-white mb-4">Tem certeza?</h2>
        
        <div class="item-preview mb-4">
            <h5 class="text-capitalize">{{ item.name }}</h5>
            <hr class="glass-hr">
            <p class="mb-1">Quantidade: {{ item.quantity }}{{ item.unit }}</p>
            <p>Valor: R${{ item.price }}/{{ item.unit }}</p>
        </div>
        <div class="mt-auto d-flex justify-content-center">
        <form method="post" class="d-flex flex-row">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger w-70  btn-sm mr-5">sim</button>
            <a href="{% url 'stock:inventario' %}" class="btn btn-success w-70 btn-sm">não</a>
        </form>
    </div>
    </div>
</div>
</div>

{% endblock %}