{% extends "layout_lista.html" %}

{% block title %} Inventario {% endblock %}
{% block sub_title %} Inventario {% endblock %}

{% block url_add_item %}{% url "stock:criar" %}{% endblock url_add_item %}
{% block url_item_query %}{% url "stock:inventario" %}{% endblock url_item_query %}

{% block content %} 

<div class="row g-4 justify-content-center ">
    {% for item in stock %}
        <div class="col-6 col-md-5 col-lg-3 mb-4 d-flex"> 
            <div class="glass-card w-100">
                <h5 class="text-capitalize pt-2 align-self-center ">{{ item.name }}</h5>
                
                <hr class="glass-hr">

                <div class="mb-4">
                    <small class="text-white-50 d-block">Quantidade:</small>
                    <span>{{ item.quantity|floatformat:"-1" }}<span style="font-size: 0.75rem;" class="text-white-50 ms-1">{{ item.unit }}</span></span>
                </div>
                <div class="mb-1">
                    <small class="text-white-50 d-block">Valor:</small>
                    <span>R${{ item.price|floatformat:"-1" }}/<span style="font-size: 0.75rem;" class="text-white-50 ms-1">{{ item.unit }}</span></span>
                </div>
                
                <hr class="glass-hr">
                
                <div class="btn-container">
                    <a href="{% url 'stock:editar' item.pk %}" class="btn btn-outline-warning ">editar</a>
                    <a href="{% url 'stock:apagar' item.pk %}" class="btn btn-outline-danger ">remover</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>


{% endblock  %}