{% extends "layout.html" %}

{% block main %}

<div class="container mt-4">
    
    <div class="d-flex mb-4">
        <h2 class="text-white">{% block sub_title %} Null {% endblock sub_title %}</h2>
    </div>

    <hr class="glass-hr">

    <div class="d-flex justify-content-between mb-5 mt-4">
        <a href="{% block url_add_item %} null {% endblock url_add_item %}" class="btn btn-primary px-3 py-1.5 " style="border-radius: 30px;"
        >
            + Adicionar Item
        </a>
    <form class="d-flex" method="GET" action="{% block url_item_query %} null {% endblock url_item_query %}">
        <div class="glass-input">
            <input 
                class="form-control me-2 text-white" 
                type="search" 
                name="q" 
                value="{{ request.GET.q }}" 
                placeholder="Procurar items..." 
                aria-label="Search"
                style=" border-radius: 30px;"
            />
        </div>
        <button class="btn btn-secondary ml-1" type="submit" style="border-radius: 30px;" >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>
        </button>
    </form>
</div>

{% block content %}

{% endblock %}

{% endblock main %}

