{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>  
</script>
    <meta charset="UTF-8">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    {% comment %} <body style="background-color: #22242a;"> {% endcomment %}
    
    <title>{% block title%} Null {% endblock %}</title>
</head>
<div class="bg-layer"></div>
<body>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top glass-effect">
    <div class="container container-nav">
        
        <a href="{% url 'greeting:home' %}" class="navbar-brand"><i class="bi bi-leaf"></i> 1 nome mt legal</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center gap-3">
                <li class="nav-item px-2">
                    <a class="nav-link" href="{% url 'cashier:checkout' %}">Caixa</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" href="{% url 'stock:produto_inventario' %}">Produtos</a>
                </li>
                <li class="nav-item px-1">
                    <a class="nav-link" href="{% url 'stock:inventario' %}">Estoque</a>
                </li>
                <li class="nav-item px-1 d-none d-lg-block">
                    <span class="text-white">|</span>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item px-8">
                        <div x-data="{ open: false }" @mouseleave="open = false" class="position-relative">

                        <span @mouseenter="open = true" class="nav-link text-white ">Olá, {{ user.username }}!</span>

                            <div x-show="open" 
                                x-transition:enter="transition ease-out duration-200"
                                x-transition:enter-start="opacity-0"
                                x-transition:enter-end="opacity-100"
                                x-transition:leave="transition ease-in duration-100"
                                x-transition:leave-end="opacity-0"
                                @mouseenter="open = true"
                                class="glass-card glass-menu glass-effect position-absolute " 
                                style="top: 130%; left: 3px; z-index: 1000; min-width: 150px;">

                            <a href="#" class="d-block text-white p-2 text-decoration-none"><i class="bi bi-wallet2"> $$$$$$ </i></a>
                           
                        </div>
                    </div>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link text-danger" href="{% url 'greeting:logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item px-2">
                        <a class="nav-link text-success" href="{% url 'greeting:login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<main class="container d-flex flex-column justify-content-start" 
      style="padding-top: 100px; padding-bottom: 40px; min-height: 100vh;">
    
    <div class="w-100">
        {% block main %}
        {% endblock %}
    </div>
    
</main>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>        
</body>

<footer class="glass-footer py-2 fixed-bottom">
    <div class="container-fluid px-3">
        <div class="d-flex justify-content-end align-items-center">
            <span class="text-white-50 small" style="font-size:9px;">
                &copy; 2026 <strong class="brand-name">Victor Hugo</strong>
            </span>
        </div>
    </div>
</footer>
</html>
