{% extends "layout_lista.html" %}

{% block title %} Produtos {% endblock %}
{% block sub_title %} Produtos {% endblock %}
{% block url_add_item %}{% url "stock:produto_criar" %}{% endblock url_add_item %}
{% block url_item_query %}{% url "stock:produto_inventario" %}{% endblock url_item_query %}
{% block content %} 

<div class="row g-4 justify-content-center">
    {% for item in product %}
        <div class="col-6 col-md-4 col-lg-3 mb-4" 
             x-show="'{{ item.name|lower }}'.includes(search.toLowerCase())"
             x-transition>
            <div class="glass-card glass-effect " >
                <div class="d-flex justify-content-between align-items-center">
                    <h4 class="text-capitalize" style="padding-left: 10px;">{{ item.name }}</h4>
                    {% if item.burger %}                 
                        <span class="text-white-50">
                            <i class="bi bi-journal-bookmark" title="nº de receitas"></i> 
                            {{ item.burger.recipe_items.all.count }}
                        </span>
                    {% else %}
                        <span class="text-white-50">
                            <i class="bi bi-box-seam" title="qtd no estoque"></i> 
                            {{ item.beverage.stock.quantity|floatformat:"-1" }}
                        </span>
                    {% endif %}
                </div>

                <hr class="glass-hr" >
                
                <div class="row mx-auto" style="pointer-events: none;">
                    <div class="col d-flex flex-column">
                        <small class="text-white-50 d-block">Preço:</small>
                        <span class="text-white">${{ item.price|floatformat:"-1" }}<span>
                    </div>
                    <div class="col d-flex flex-column">
                        <small class="text-white-50 d-block">Custo:</small>
                        <span class="text-warning">${{ item.burger.get_total_cost }}<span>
                    </div>
                    <div class="col d-flex flex-column" >
                        <small class="text-white-50 d-block">Lucro:</small>
                        <span class="{% if item.burger.profit > 1 %}text-success{% else %}text-danger{% endif %}" >${{ item.burger.profit }}<span>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-end mt-4" style="margin-inline: 20px;">
                    
                    <div class="sold-count">
                        <span class=""> <i class="bi bi-handbag"></i> {{ item.sold }}</span> 
                    </div>
       

                    <div class="d-flex flex-column text-end">
                        <div style="font-size: 0.65rem;" class="text-white-50">
                            <span>criado em - </span>{{ item.burger.create_at|date:"d/m/y" }}
                        </div>
                        <div style="font-size: 0.65rem; margin-top: -2px;" class="text-white-50">
                            <span>ultima alt - </span>{{ item.burger.last_updated|date:"D H:i" }}
                        </div>
                    </div>

                </div>
                <hr class="glass-hr mt-2">

                 <div class="btn-container">
                    <a href="{% url 'stock:produto_editar' item.pk %}" class="btn btn-warning" >editar</a>
                    <a href="{% url 'stock:produto_apagar' item.pk %}" class="btn btn-danger">remover</a>
                </div> 
            </div>
        </div>
    {% empty %}
        <p class="text-white glass-effect glass-card">Nenhum item no estoque.</p>
    {% endfor %}
</div>

{% endblock %}

